.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--bg, $bg);
  @include transition;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    row-gap: 0;
    padding: 20px 0;
    font-family: Montserrat;
    font-size: 16px;
    line-height: normal;
    @media(max-width: 1430px) {
      gap: 20px;
      font-size: 14px;
    }
    @media(max-width: 767px) {
      gap: 16px;
      padding: 16px 0;
      padding-top: 0;
    }
  }
  &__logo {
    position: relative;
    max-width: 262px;
    max-height: 57px;
    width: 18vw;
    height: 4vw;
    min-width: 180px;
    min-height: 50px;
    z-index: 1;
    transition: min-height 0.3s ease-out;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      image-rendering: -moz-crisp-edges; /* Firefox */
      -ms-interpolation-mode: nearest-neighbor;  /* IE */
      image-rendering: crisp-edges; /* Стандартное свойство */
    }
    @media(max-width: 767px) {
      width: auto;
      height: 20vw;
      min-width: unset;
      min-height: 60px;
    }
  }
  &__user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: auto;
    font-weight: 500;
    z-index: 1;
    input[type=checkbox].switch + label {
      font-weight: 500;
      font-family: Montserrat;
      font-size: 16px;
      line-height: normal;
      @media(max-width: 1380px) {
        font-size: 14px;
      }
    }
    @media(max-width: 767px) {
      justify-content: center;
      gap: 8px;
      width: calc(100% + 32px);
      padding: 12px 0;
      margin: 0 -16px;
      order: -1;
      background-color: var(--light, $light);
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 22px;
    transition: left 0.3s ease-out;
    &.open {
      left: 0;
    }
    &::before {
      content: none;
      position: absolute;
      right: 0;
      bottom: 55px;
      width: 200px;
      height: 222px;
      background: url(../img/menu-icon.svg) center / contain no-repeat;
      @media(max-width: 980px) {
        content: '';
      }
    }
    @media(max-width: 1430px) {
      gap: 20px;
    }
    @media(max-width: 980px) {
      position: absolute;
      top: 0;
      left: -100vw;
      flex-direction: column;
      align-items: flex-start;
      gap: 60px;
      width: 100vw;
      min-height: 100vh;
      min-width: 320px;
      padding: 16px;
      padding-top: 220px;
      background-color: var(--light, $light);
    }
  }
  // &__cites {
  //   display: flex;
  //   align-items: center;
  //   gap: 5px;
  //   svg {
  //     width: 20px;
  //     height: 20px;
  //   }
  //   select {
  //     padding: 0;
  //     border: 0;
  //     background-color: transparent;
  //     &:focus {
  //       outline: none;
  //     }
  //   }
  // }
  &__menu {
    display: flex;
    align-items: center;
    gap: 22px;
    width: 100%;
    a {
      @include transition;
      &:hover {
        color: var(--main-yellow, $main-yellow);
        cursor: pointer;
      }
    }
    @media(max-width: 1430px) {
      gap: 20px;
    }
    @media(max-width: 980px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 35px;
    }
  }
  &__lang {
    display: flex;
    align-items: center;
    a {
      position: relative;
      padding-right: 10px;
      margin-right: 8px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: var(--main-blue, $main-blue);
      }
      &.active {
        pointer-events: none;
        color: var(--main-blue, $main-blue);
      }
      &:last-child {
        padding-right: 0;
        margin-right: 0;
        &::after {
          content: none;
        }
      }
      &:hover {
        color: var(--main-yellow, $main-yellow);
        cursor: pointer;
      }
    }
  }
  &__burger {
    position: relative;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--main-blue, $main-blue);
    cursor: pointer;
    @include transition;
    span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      height: 1px;
      width: calc(100% - 28px);
      pointer-events: none;
      background-color: var(--light, $light);
      @include transition;
      &:nth-child(1){
        top: 18px;
        @media(max-width: 767px) {
          top: 15px;
        }
      }
      &:nth-child(2){
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
      &:nth-child(3){
        bottom: 18px;
        @media(max-width: 767px) {
          bottom: 15px;
        }
      }
      @media(max-width: 767px) {
        width: calc(100% - 20px);
      }
    }
    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(-38deg) translateX(-50%);
          @media(max-width: 767px) {
            transform: rotate(-28deg) translateX(-50%);
          }
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(38deg) translateX(-50%);
          @media(max-width: 767px) {
            transform: rotate(28deg) translateX(-50%);
          }
        }
      }
    }
    @media(max-width: 980px) {
      display: block;
    }
    @media(max-width: 767px) {
      width: 40px;
      height: 40px;
    }
  }
  &.scroll {
    box-shadow: 0 0 24px rgba(34, 30, 31, 0.08);
  }
}

.cities-select {
	position: relative;
	display: block;
  min-width: 112px;
  width: fit-content;
  list-style: none;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(../img/location.svg) center / contain no-repeat;
  }
}
.cities-select ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  width: fit-content;
  padding: 25px;
  border-radius: 20px;
  color: var(--light, $light);
  background-color: var(--main-blue, $main-blue);
}
.cities-select li {
  display: block;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
  &.active {
    pointer-events: none;
    font-weight: 600;
  }
}
.cities-select a {
  display: block;
  -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  text-decoration: none;
}
.cities-select a:focus,
.cities-select a:hover {
  font-weight: 600;
}
.cities-select div {
  display: block;
  cursor: pointer;
  position: relative;
  padding-right: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  color: var(--blue, $blue);
  background: none;
}
.cities-select div:after {
  content: '';
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -2px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9px" height="6px"><path fill-rule="evenodd"  fill="rgb(13, 37, 72)" d="M8.997,1.059 L5.463,4.938 L5.464,4.938 L4.500,5.996 L3.536,4.938 L3.536,4.938 L0.003,1.059 L0.967,0.001 L4.500,3.880 L8.033,0.001 L8.997,1.059 Z"/></svg>');
  width: 9px;
  height: 6px;
  -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: transform .3s ease;
      -moz-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
      -o-transition: transform .3s ease;
      transition: transform .3s ease;
}
.cities-select.open div:after {
  -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
}
